<div class="comic">
	<%= image_tag(comic.url) %>
	<h4><%= link_to comic.name, comic_page_path(comic) %></h4>
	<span class="price"><b>Publisher: </b><%= comic.publisher %></span>
	<span class="price"><b>Price: </b><%= comic.price %></span>
</div>