/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #container {
 	width: 900px;
 	height: 100%;
 	margin: 10px auto;
 	border: 1px solid black;
 }

 #banner {
 	width: inherit;
 	height: 150px;
 	background-color: grey;
 	position: relative;
 }

 #banner #cart {
 	height: 50px;
 	width: 100px;
 	position: absolute;
 	top: 15px;
 	right: 15px;
 	border: 1px dashed black;
 	text-align: left;
 	padding: 7px 0px 0px 7px;
 	text-decoration: none;
 }

 #banner .cart {
 	text-decoration: none;
 	color: black;
 }

 #banner #cart:hover {
 	background-color: yellow;
 }

 #nav { 	
 	height: 40px;
 	background-color: lightgrey;
 	border-bottom: 1px solid black;
 	position: relative;
 }

 #nav .search {
 	position: absolute;
 	right: 20px;
 	top: 8px;
 }

 #navlist {
 	margin: 0px;
 	padding: 5px 20px;
 }

 #navlist li {
 	list-style: none;
 	margin: 0px 20px;
 	font-size: 18pt;
	display: inline;

 }

 #navlist a {
 	text-decoration: none;
 }

 #content {
 	width: inherit;
 	height: 100%;
}

#menu {
	width: 140px;
	height: auto;
	float: left;
	padding: 20px 0px 0px 5px;
}

#menu b {

}

#menu ul {
	padding: 0px;

}

#menu li {
	list-style: none;
}

#info {
	float: right;
	width: 750px;
	border-left: 1px solid black;
	text-align: center;
}

#info .show_image {
	float: left;
	height: 350px;
	width: 250px;
	padding: 10px 20px 20px 40px;
}

#footer {
 	width: inherit;
 	height: 50px;
 	background-color: lightgrey;
 	clear: both;
 	border-top: 1px solid black;
 }
