// Place all the styles related to the comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comic {
	width: 160px;
	height: 200px;
	border: 1px dashed black;
	margin: 10px 5px;
	padding: 10px 0px;
	display: inline-table;
}

.comic:hover {
	background-color: lightgrey;
}

.comic img {
	display: block;
	width: 100px;
	height: 125px;
	border: 2px solid black;
	margin: 5px auto;
}

.comic a {
	text-decoration: none;
}

.comic h4 {
	display: block;
	text-align: center;
	margin: 0px;
	font-size: 10pt;
}

.comic .price {
	font-size: 8pt;
	display: block;
	text-align: center;
	margin: 2px auto;
}

.cartcomic {
	height: 200px;
	width: 400px;
	border: 1px dashed black;
	padding: 5px;
	margin: 10px 40px;
}

.cartcomic img {
	float: left;
	height: 200px;
	width: 140px;
}