<div id="menu">
	
	
	<ul>
		<li class="list_header">Publisher</li>
		<li><%= link_to "Marvel", search_publisher_page_path(:publisher => "Marvel") %></li>
		<li><%= link_to "DC Comics", search_publisher_page_path(:publisher => "DC Comics") %></li>
	</ul>

	<ul>
		<li class="list_header">Price</li>
		<li><%= link_to "Less than $10", search_price_page_path(:price => "less than 10") %></li>
		<li>Between $10 - $20</li>
		<li>Greater than $20</li>
	</ul>

</div>